/* Estilo para o corpo do documento */
body {
  line-height: 3.5em;
  background: linear-gradient(315deg, #050449, #d7e1ec);
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

/* Estilo para os cabeçalhos */
h1 {
  color: rgb(153, 14, 14);
  text-align: center;
  margin-top: 20px;
}
p, select, input[type="number"], input[type="checkbox"], label {
  display: inline-block;
  margin: auto;
  padding: 0;
  vertical-align: middle;
  white-space: nowrap;
}


/* Estilo para os parágrafos */
.selecione {
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  margin-bottom: 5px;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 5px;
  text-align: center;
  line-height: 5.9em;
    
}

/* Estilo para os seletores */
select {
  padding: 5px;
  margin-bottom: 10px;
}

/* Estilo para as opções dos seletores */
option {
  padding: 5px;
}

/* Estilo para as caixas de entrada */
input[type="number"] {
  padding: 5px;
  width: 60px;
  margin-right: 10px;
}

/* Estilo para os rótulos das caixas de seleção */
label {
  margin-right: 10px;
}

/* Estilo para a tabela */
table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;

}

/* Estilo para as células da tabela */
td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
  color: #ffff;
}

/* Estilo para o botão de adicionar ao carrinho */
button[type="submit"] {
  padding: 10px;
  margin-top: 10px;
  background-color: rgb(153, 14, 14);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilo para o botão de finalizar o pedido */
button[type="submit"]:last-of-type {
  background-color: #f44336;
}


.cabecalhovendedor{
  
       margin: 60px;
       height: auto;
       display: block;
       margin: auto;
       line-height: 7.5em;
       width: 85%;
       max-width: 85%;
       align-items: center;
       padding: 0;
       padding-bottom: 15%;
}
/* Estilo para o rodapé */
footer {
  text-align: center;
  margin-top: 20px;
  color: #666;
}
