/*header {
        padding: 20px 0;
        background-color: rgb(100, 100, 242);
    }
    
    
    header p{
        margin-top:25px;
        text-align: center;
        a:hover{
        color: #a7a4e8;
        text-decoration: underline;
        */
    
    
    
        nav a:active {
            color: #ff0202;
        }
        .main__sejaBemVindo{
        font-family:Verdana,Helvetica,Arial,sans-serif;
            font-size:  30px;
            font-weight: bold;
            padding: 90px 0;
            color:rgb(225, 225, 234);;
            text-align: center;
            line-height:50px
        }

        .imagensMain li {
            display: inline;
        }
        .imagensMain h2 {
            margin-top: 8px;
            text-align: center;
        }
        .antRodape {
            height: 300px;
            width: 60%;
        }
        .ligue{
            
            font-family:Verdana,Helvetica,Arial,sans-serif;
            font-size:  15px;
            font-weight: bold;
            padding: 15px 15;
            color:rgb(225, 225, 234);;
            text-align: center;
            line-height:50px
            
        }
         .telefone {
            font-family:Verdana,Helvetica,Arial,sans-serif;
            font-size:  15px;
            font-weight: bold;
            padding: 0px 0;
            color: rgb(223, 223, 231);;
            text-align: center;
        }
        footer {
            background-color:  #050449;
            text-align: center;
            padding: 30px 0;
        }
        .copyright{
            font: size 18px;
            color: #ffffff;
            margin-top:10px;
        }