.orderstatus {
    color: #939393;
    display: block;
    padding: 1em 0;
    position: relative;
    text-align: center;
    min-height: 150px;
  }
  
  .orderstatus.done:before {
    background: #32841f;
    
  }
  .orderstatus:before {
    content: '';
    height: 100%;
    position: absolute;
    left: 50%;
    width: 2px;
    background: #939393;
    margin: 0 25px;
  }
  
  .orderstatus:last-child:before {
    height: 0;
  }
  
  .orderstatus.done {
    color: #333;
  }
  
  @media only screen and (max-width: 40em) {
    .orderstatus {
      text-align: left;
    }
    .orderstatus:before {
      left: 0;
    }
    .orderstatus .orderstatus-text {
      left: 0;
      width: 100%;
    }
  }
  
  .orderstatus-text {
    position: relative;
    width: 50%;
    left: 50%;
    text-align: left;
    padding-left: 60px;
  }
  
  @media only screen and (min-width: 40em) {
    .orderstatus:nth-child(2n) .orderstatus-text {
      left: 10px;
      text-align: right;
      padding-right: 20px;
    }
  }
  
  .orderstatus-container {
    padding: 2em 0;
  }
  
  .orderstatus time {
    display: block;
    font-size: 1em;
    color: #939393;
  }
  
  .orderstatus.done time {
    color: #368d22;
  }
  
  @media only screen and (max-width: 40em) {
    .orderstatus-container {
      text-align: center;
    }
  }
  
  .orderstatus-check {
    font-family: "Helvetica", Arial, sans-serif;
    border: 2px solid #939393;
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 48px;
    border-radius: 50%;
    margin-bottom: 0.5em;
    background: #fff;
    z-index: 2;
    position: absolute;
    color: #939393;
    left: 50%;
  }
  
  .done .orderstatus-check {
    color: #368d22;
    border-color: #368d22;
  }
  
  @media only screen and (max-width: 40em) {
    .orderstatus-check {
      left: 0;
    }
  }
  
  .orderstatus-active {
    text-align: center;
    position: relative;
    left: 25px;
    top: 20px;
    color: #939393;
  }
  
  @media only screen and (max-width: 40em) {
    .orderstatus-active {
      display: none;
    }
  }